doctype html
html
	head
		title New Book
		link(rel='stylesheet', href='/style.css')
	nav
		ul
			li
				a(href='../') Home
			li
				a(href='books') Books
			li
				a(href='patrons') Patrons
			li
				a(href='loans') Loans
	body
		h1 Error
		form
			h2.error Oooops!
			ul.error
				p Something went wrong!

				p The page you are looking for might not exist!

				a(href='/') << Go Back

